<div id="alerts"class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="col-sm-2">
			<p>Image Here</p>
            <p><%=alert.patient.name%></p>
		</div>
		<div class="col-sm-9">
			<h1>Alert</h1>
			<br>
			<p class="thick"><%=alert.text%></p>
			<p>RESOLVED?: <%=alert.resolved_patient%></p>
		</div>
		<div class="col-sm-1">
			<i class="fa fa-arrow-circle-right fa-4x"></i>
		</div>
	</div>
</div>