<%= javascript_tag do %>
	var data = <%= values %>;
	var threshold = <%= threshold %>;
  data.sort();
<% end %>

<div id="blood_oxygen_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
  $(populate_blood_oxygen_container());
</script>
<% javascript_include_tag "blood_oxygen"%>
