<h1>Patient#patient_plan</h1>
<p>Find me in app/views/patient/patient_plan.html.erb</p>
<script>
	$("a").removeClass("active");
	$("#mypatientplan a").css("padding-bottom","51px");
	$("#mypatientplan a").css("box-shadow","none");
	$("#mypatientplan a").css("border-radius","3px 3px 0 0");
</script>