<h1>Patient#settings</h1>
<p>Find me in app/views/patient/settings.html.erb</p>

<script>
	$("a").removeClass("active");
	$("#mysettings a").css("padding-bottom","51px");
	$("#mysettings a").css("box-shadow","none");
	$("#mysettings a").css("border-radius","3px 3px 0 0");
</script>
